.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  width: 50px;
  height: 50px;
}

.control-group {
  position: relative;
  background-color: transparent;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.control-label {
  background-color: transparent;
  position: relative;
  width: 180px;
}

.form-panel {
  border: 1px solid #222;
  border-radius: 6px;
  padding: 10px;
  background-color: transparent;
  position: relative;
  width: 90vw;
}

.form-control {
  position: relative;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.picker, .picker1 {
  background-color: lightcyan;
}

.iframe-panel {
  position: relative;
  background-color: pink;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .picker, .picker1 {
      background-color: yellow;
  }
}